{% set _ = ns.sections_deep.update({
    'index.md': 1,
    'table_of_contents.md': 1,
    'section-1/quick_start.md': 2,
    'section-1/example-1-first-approach.md': 3,
    'section-1/example-1-step-1.md': 3,
    'section-1/example-1-step-2.md': 3,
    'section-1/example-1-pause-and-reflect.md': 3,
    'section-1/example-1-step-3.md': 3,
    'section-1/example-1-step-4.md': 3,
    'benchmark/benchmark-intro.md': 3,
    'benchmark/getting-to-know-veclang.md': 3,
    'benchmark/step-1.md': 3,
    'benchmark/step-2.md': 3,
    'benchmark/step-3.md': 3,
    'benchmark/from-arithmetic-to-veclang.md': 3,
    'benchmark/step-4.md': 3,
    'benchmark/benchmark-conclusion.md': 3,
    'api/intro.md': 3,
    'api/common/common.md': 3,
    'api/automaton/intro.md': 4,
    'api/automaton/theory.md': 4,
    'api/automaton/automaton.md': 4,
    'api/grammar/intro.md': 4,
    'api/grammar/theory.md': 4,
    'api/grammar/grammar.md': 4,
    'api/regex/regex.md': 3,
    'api/lexer/lexer.md': 3,
    'api/parser/parser.md': 3,
    'api/analysis/analysis.md': 3,
    'api/visual/visual.md': 3,
    'api/examples/intro.md': 4,
    'api/examples/lexer-building.md': 4,
    'api/examples/parser-building.md': 4,
    'examples/intro.md': 2,
    'examples/idented_dsl/idented_dsl.md': 2,
    'examples/mini-python/mini-python.md': 2,
}) %}
